.toggle {
  display: inline-block;
  position: fixed;
  right: 1rem;
  top: 1rem;
}

.switch {
  display: inline-block;
  position: relative;
}

.switch input {
  height: 0;
  position: absolute;
  opacity: 0;
  width: 0;
}

.slider {
  background: var(--mode-switcher-bg);
  border-radius: 999px;
  display: inline-block;
  height: 26px;
  position: relative;
  transition: background .2s ease;
  width: 48px;
  &:hover {
    background: var(--mode-switcher-bg-hover);
  }
}

.slider::after {
  background: white;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'32\' height=\'32\' viewBox=\'0 0 32 32\'><path fill=\'currentColor\' d=\'M13.503 5.414a15.076 15.076 0 0 0 11.593 18.194a11.1 11.1 0 0 1-7.975 3.39c-.138 0-.278.005-.418 0a11.094 11.094 0 0 1-3.2-21.584M14.98 3a1 1 0 0 0-.175.016a13.096 13.096 0 0 0 1.825 25.981c.164.006.328 0 .49 0a13.07 13.07 0 0 0 10.703-5.555a1.01 1.01 0 0 0-.783-1.565A13.08 13.08 0 0 1 15.89 4.38A1.015 1.015 0 0 0 14.98 3\'/></svg>");
  background-size: 100% 100%;
  border-radius: 50%;
  content: '';
  cursor: pointer;
  height: 18px;
  left: 4px;
  position: absolute;
  transition: transform .2s ease;
  top: 4px;
  width: 18px;
}

/* .switch input:checked + .slider {
  background: var(--link);
} */

.switch input:checked + .slider::after {
  transform: translateX(22px);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'32\' height=\'32\' viewBox=\'0 0 32 32\'><path fill=\'currentColor\' d=\'M16 12.005a4 4 0 1 1-4 4a4.005 4.005 0 0 1 4-4m0-2a6 6 0 1 0 6 6a6 6 0 0 0-6-6M5.394 6.813L6.81 5.399l3.505 3.506L8.9 10.319zM2 15.005h5v2H2zm3.394 10.193L8.9 21.692l1.414 1.414l-3.505 3.506zM15 25.005h2v5h-2zm6.687-1.9l1.414-1.414l3.506 3.506l-1.414 1.414zm3.313-8.1h5v2h-5zm-3.313-6.101l3.506-3.506l1.414 1.414l-3.506 3.506zM15 2.005h2v5h-2z\'/></svg>");
}
